body{
    background-color: #EAF2FC;
    font-family: sans-serif;
}

button{
    background-color: #3D83DF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #3D83DF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

div {
    border-radius: 5px;
    padding: 20px;
}
.card {
    background-color: #ffffff;
    border-color: #313D60;
    text-align: center;
    width: 350px;
    height: 400px;
    border-radius: 10px;
}
.container{
    height: 400px;
}
.card-header{
    color: #53AAFF;
    font-size: 25px;
    font-weight: bold;
    height: 12px;
    text-align: center;  
} 
.card-title{
    text-align: left;
    color: #313D60;
    font-weight: bold;
}
.card-text{
    text-align: left;
    color: #999b9d;
    font-weight: bold;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-gap: 45px;
    align-items: stretch;
}

.nav{
    background-color: #ffffff;
    position: sticky top;
    padding: auto;
    font-size: 15px;
}
.nav-link{
    color: #313D60;
    font-weight: bold;
}
h1{
    text-align: left;
    color: #313D60;
    font-weight: bold;
    font-size: 35px;
}
.navbar{
    background-color: none;
    font-weight: lighter;
}